{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
  <body>

    <div class="profile">
      <ul>
        <a class="btn btn-ghost btn-profile" href="/account/profile/view">View Profile</a><br />
        <a class="btn btn-ghost btn-profile" href="/account/profile/edit">Edit Profile</a><br />
        <a class="btn btn-ghost btn-profile" href="/account/profile/changePassword">Change password</a>
      </ul>     
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
{% endblock %}