{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
  <body>
    <div>
      <h2>{{categoryName}}:</h2>
      <div class="categories">
          {% for itemData in data %}
        <table class="display-items">
          <tr>
            {% for row in itemData %}
            <td>{{row[1]}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for row in itemData %}
            <td>
              <a href="/productDescription?productId={{row[0]}}">
                <img src={{ url_for('static', filename='resources/img/' +
                row[3]) }}/>
              </a>
            </td>
            {% endfor %}
          </tr>
          <tr>
            {% for row in itemData %}
            <td>£{{row[2]}}</td>
            {% endfor %}
          </tr>
        </table>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br>
{% endblock %}
