{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
  <body>
    <div class="row">
		<div class="image">
			<h2>Shopping Cart</h2>
      		<div class="categories">
        	{% for row in products %}
        	<div class="row">
          		<hr/>
          		<div>
            		<img class="items" src={{url_for('static', filename='resources/img/'+row[3])}}
            		/>
          		</div>
          		<div>
            		<span>{{row[1]}}</span><br />
            		In stock<br />
					£{{row[2]}}<br>
            		<a href="/removeFromCart?productId={{row[0]}}">Remove</a> <br><br>
          		</div>
        	</div>
        {% endfor %}
        <hr/>
        <div>
			<br>
          	<span >Subtotal</span> : £{{totalPrice}} <br><br>
			<a class="btn btn-full" href="/checkout">Proceed to checkout</a>
        </div>
      </div>
		</div>
      
    </div>    
  </body>
</html>
{% endblock %}
