  {% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
  <body>
    <div class="row">
      <div class="displayCategory">
        <h2>Shop by Category:</h2>
        <ul class="categories">
          {% for row in categoryData %}
          <a class="btn btn-full" href="/displayCategory?Cat_Id={{row[0]}}"
            >{{row[1]}}</a>
          {% endfor %}
        </ul>
      </div>
      <div class="row">
        <h2>Items</h2>
        <div class="row">
          {% for output_data in itemData %}
          <table>
            <tr>
              {% for row in output_data %}
              <td>
                <a href="/productDescription?prod_number={{row[0]}}">
                  <img src={{ url_for('static', filename='resources/img/' +
                  row[4]) }} class="items" />
                </a>
              </td>
              {% endfor %}
            </tr>
            <tr>
              {% for row in output_data %}
              <td>{{row[1]}}</td>
              {% endfor %}
            </tr>
            <tr>
              {% for row in output_data %}
              <td>£{{row[2]}}</td>
              {% endfor %}
            </tr>
          </table>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
