{% extends 'base.html' %}

{% block content %}

  {% include 'navbar.html' %}

    <div class="row">
      <h2>Log In</h2>
    </div>
    <div class="row">
      <form action="/login" method="post" class="contact-form">
        <div>         
            <label>Email</label>
            <input
              type="text"
              name="mail"
              placeholder="Email"             
              required
            />         
        </div>       
          <div>
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />          
        </div>
          <div class="col span-2-of-2"></div>
            <input type="submit" value="Log In" />
            <a href="/registerationForm">Register!</a>
          </div>
        </div>
      </form>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}