{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<body>
  <div class="image">
    <div>
      <h2>{{data[1]}}</h2>
    </div>
    <div>
      <img src={{url_for('static', filename='resources/img/'+data[4]) }}/>
    </div>

    <div>
      <p>Name: {{data[1]}}</p>
      <p>Price: {{data[2]}}</p>
      <p>Stock: {{data[3]}}</p>
      <p>{{data[3]}}</p>
    </div>
    <div>
      <a
        class="btn btn-ghost btn-product"
        href="/addToCart?productId={{request.args.get('productId')}}"
        >Add to Cart</a
      >
    </div>
  </div>
</body>

{% endblock %}
